html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.redbold {
  color: red;
  font-weight: bold;
  justify-content: stretch;
}

header {
  position: relative;
  width: 100%;
  background: rgba(130, 130, 130, 0.144);
  box-shadow: 0 1px 1px 1px rgba(99, 100, 99, 0.5);
  z-index: 10;
  text-align: center;
}

.pagetitle {
  margin: 0;
  padding: 0.3rem 0 0.5rem 0;
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  font-size: 3rem;
  line-height: 1;
  background: rgb(250, 250, 250);
  color: rgba(126, 10, 10);
  border-bottom: 1px solid lightgrey;
}

.block {
  display: block;
}

.none {
  display: none;
}

.btn {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0.2rem;
  border: none;
  padding: 0.15rem 1rem;
  background: rgb(145, 7, 7, 0.6);
  color: white;
  border-radius: 0.2rem;
  box-shadow: 0px 0.1rem 0.1rem 0.1rem gray;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(145, 7, 7, 0.8);
  box-shadow: 0px 0.02rem 0.02rem 0.02rem gray;
}
.btn:active {
  cursor: pointer;
  background-color: rgb(145, 7, 7, 1);
  box-shadow: none;
}

.forms {
  display: flex;
  width: 100%;
}

.form {
  flex: 1;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

input {
  padding: 0vw;
  font-size: 1.3rem;
  margin: 0 0.15rem;
  border-radius: 0.2rem;
  outline: none;
}
input::placeholder {
  color: rgb(196, 192, 192);
}

.super {
  display: flex;
  width: 100%;
  min-height: 0;
}

.outer {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.inner {
  /* min-height: 5rem; */
  padding: 1rem;
  font-size: 1rem;
}

.card {
  background: rgb(252, 252, 252);
  margin: 0.25rem;
  padding: 0.25rem;
  border: 1px solid lightgrey;
}

.textus,
.versio,
.card-header {
  margin: 0.25rem;
  padding: 0.25rem;
  line-height: 1.5;
}

.volume,
.inline-separator,
.text-name {
  display: inline;
  color: darkred;
  font-size: 1rem;
}

.outer1 .card-header {
  cursor: pointer;
}

.inline-separator {
  color: darkred;
}
.versio {
  color: darkblue;
}

.blue {
  background: lightblue;
}

.black {
  color: black;
}

.green_background {
  background: green;
}

.green_background:hover {
  background: darkgreen;
}

.totop {
  display: none;
  position: fixed;
  bottom: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(145, 7, 7, 0.2); 
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.totop1 {
  left: calc(50% - 93px);
}
.totop2 {
  right: 30px;
}

.totop:hover {
  background-color:  rgba(145, 7, 7, 0.5);
}


@media (max-width: 900px) {
  .pagetitle {
    font-size: 2rem;
  }
  #searchbox,
  #volume_number,
  #text_number {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 1rem;
    padding: 0rem 0.4rem;
  }
  .card {
    margin: 0;
    padding: 0;
  }
  .copy_button {
    display: none;
  }
}

@media (max-width: 500px) {
  .right, .outer2 {
    display: none;
  }
}
