html, body {
  padding: 0;
  margin: 0;
}

.outer
{
  height: 100vh;
  padding: 30px;
  background-color: #f3f3f3;
}
.inner
{
  margin: auto;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

button {
  font-size: 3rem;
  margin-top: 2rem;
}
p {
  margin: 0;
}

.red {
  background: red;
  color: white;
}