html, body {
  padding: 0;
  margin: 0;
}

.outer
{
  height: 100vh;
  padding: 30px;
  background-color: #f3f3f3;
}

.container {
  position: relative;
  height: 30vh;
  width: 30vw;
  left: 40%;
  top: 45%;
  float: center;
  font-size: 3rem;
}

button {
  font-size: 3rem;
  margin-top: 2rem;
}
p {
  margin: 0;
}

.red {
  background: red;
  color: white;
}